<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="American_Football_Scoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <American_Football_Scoreboard.Properties.Settings>
            <setting name="DefaultPeriod" serializeAs="String">
                <value>15:00</value>
            </setting>
            <setting name="DefaultPlay" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GoalText" serializeAs="String">
                <value>Goal</value>
            </setting>
            <setting name="TimeoutsPerHalf" serializeAs="String">
                <value>3</value>
            </setting>
        </American_Football_Scoreboard.Properties.Settings>
    </userSettings>
</configuration>