<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="American_Football_Scoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <American_Football_Scoreboard.Properties.Settings>
            <setting name="DefaultPeriod" serializeAs="String">
                <value>15:00</value>
            </setting>
            <setting name="DefaultPlayClock" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GoalText" serializeAs="String">
                <value>Goal</value>
            </setting>
            <setting name="TimeoutsPerHalf" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotKeyStartStopGameClock" serializeAs="String">
                <value>Alt + Shift + G</value>
            </setting>
            <setting name="HotKeyStartStopPlayClock" serializeAs="String">
                <value>Alt + Shift + P</value>
            </setting>
            <setting name="HotKeyNewDefaultPlayClock" serializeAs="String">
                <value>Alt + Shift + N</value>
            </setting>
            <setting name="HotKeyClearClocks" serializeAs="String">
                <value>Alt + Shift + C</value>
            </setting>
            <setting name="HotKeyNextDown" serializeAs="String">
                <value>Alt + Shift + D</value>
            </setting>
            <setting name="HotKeyNextPeriod" serializeAs="String">
                <value>Alt + Shift + Q</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="HotKeyPossession" serializeAs="String">
                <value>Alt + Shift + O</value>
            </setting>
            <setting name="AdvanceQuarter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Period1" serializeAs="String">
                <value>1st Qtr</value>
            </setting>
            <setting name="Period2" serializeAs="String">
                <value>2nd Qtr</value>
            </setting>
            <setting name="Period3" serializeAs="String">
                <value>3rd Qtr</value>
            </setting>
            <setting name="Period4" serializeAs="String">
                <value>4th Qtr</value>
            </setting>
            <setting name="Down1" serializeAs="String">
                <value>1st Down</value>
            </setting>
            <setting name="Down2" serializeAs="String">
                <value>2nd Down</value>
            </setting>
            <setting name="Down3" serializeAs="String">
                <value>3rd Down</value>
            </setting>
            <setting name="Down4" serializeAs="String">
                <value>4th Down</value>
            </setting>
            <setting name="PeriodHalf" serializeAs="String">
                <value>Half</value>
            </setting>
            <setting name="FlagDisplayDuration" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="HotKeyFlag" serializeAs="String">
                <value>Alt + Shift + F</value>
            </setting>
            <setting name="ShortPlayClock" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="HotKeyNewShortPlayClock" serializeAs="String">
                <value>Alt + Shift + S</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeriodFinal" serializeAs="String">
                <value>Final</value>
            </setting>
            <setting name="SubSecond" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Safety" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PatKick" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PatConversion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FieldGoal" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Touchdown" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="HotKeyHomeSafety" serializeAs="String">
                <value>Alt + Shift + 5</value>
            </setting>
            <setting name="HotKeyHomePatKick" serializeAs="String">
                <value>Alt + Shift + 6</value>
            </setting>
            <setting name="HotKeyHomePatConversion" serializeAs="String">
                <value>Alt + Shift + 7</value>
            </setting>
            <setting name="HotKeyHomeFieldGoal" serializeAs="String">
                <value>Alt + Shift + 8</value>
            </setting>
            <setting name="HotKeyHomeTouchdown" serializeAs="String">
                <value>Alt + Shift + 9</value>
            </setting>
            <setting name="HotKeyAwaySafety" serializeAs="String">
                <value>Alt + Shift + 0</value>
            </setting>
            <setting name="HotKeyAwayPatKick" serializeAs="String">
                <value>Alt + Shift + 1</value>
            </setting>
            <setting name="HotKeyAwayPatConversion" serializeAs="String">
                <value>Alt + Shift + 2</value>
            </setting>
            <setting name="HotKeyAwayFieldGoal" serializeAs="String">
                <value>Alt + Shift + 3</value>
            </setting>
            <setting name="HotKeyAwayTouchdown" serializeAs="String">
                <value>Alt + Shift + 4</value>
            </setting>
        </American_Football_Scoreboard.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.4.0" newVersion="0.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
