<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="American_Football_Scoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <American_Football_Scoreboard.Properties.Settings>
            <setting name="DefaultPeriod" serializeAs="String">
                <value>15:00</value>
            </setting>
            <setting name="DefaultPlay" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GoalText" serializeAs="String">
                <value>Goal</value>
            </setting>
            <setting name="TimeoutsPerHalf" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotKeyStartStopGameClock" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="HotKeyStartStopGameClockAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyStartStopGameClockCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyStartStopGameClockShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyStartStopPlayClock" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="HotKeyStartStopPlayClockAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyStartStopPlayClockCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyStartStopPlayClockShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNewPlayClock" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="HotKeyNewPlayClockAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNewPlayClockCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNewPlayClockShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyClearClocks" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="HotKeyClearClocksAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyClearClocksCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyClearClocksShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNextDown" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="HotKeyNextDownAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNextDownCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyNextDownShift" serializeAs="String">
                <value>False</value>
            </setting>
        </American_Football_Scoreboard.Properties.Settings>
    </userSettings>
</configuration>
